<app-nav-bar-test></app-nav-bar-test>
<!-- Modal -->
<div class="modal fade m-0" id="addPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mt-3 mb-0" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header text-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body container text-center p-5 m-0">
                <div class="div"><img id="myImage3" [src]="clientsValue().picture ? clientsValue().picture :  profile " (click)="editPhoto()" alt="client"
                    class="rounded-circle profile" width="200" height="200"></div>
                <br>
                <h4>Abdelillah fahime</h4>
                <p class="mt-3">veuillez charger votre photo de profile</p> <br><br>
                <div class="form-group">
                    <input class="file-input form-control" (change)="selectImg($event)" type="file" formControlName="Image" #UploadFileInput />
                </div>
                <button class="btn btn-warning" (click)="changePhoto()" [disabled]="charged">ajouter</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ferme</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade m-0" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mt-3 mb-0" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header text-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body container text-center p-5 m-0">
                <div class="div"><img id="myImage2" [src]="clientsValue().picture ? clientsValue().picture :  profile " (click)="editPhoto()" alt="client"
                    class="rounded-circle profile" width="200" height="200"></div>
                <br>
                <h4>{{client.nom}} {{client.prenom}}</h4>
                <p class="mt-5 subject">Votre photo de profil aide les autres utilisateurs à vous reconnaître et vous permet de savoir quand vous êtes connecté à votre compte</p>
                <div class="row mt-5">
                    <div class="col-6"><button class="btn btn-primary" (click)="addPhoto()">modifier</button></div>
                    <div class="col-6"><button class="btn btn-primary">supprimer</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h1>Bienvenu {{clientsValue().nom}} !</h1>
<br>
<div class="container m-2">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img id="myImage1" [src]="clientsValue().picture ? clientsValue().picture :  profile " (click)="editPhoto()" alt="client"
                                class="rounded-circle profile" width="200" height="200">
                            <hr>
                            
                            <div class="mt-3">
                                <h4>{{clientsValue().nom}} {{clientsValue().prenom}} </h4>
                                <p class="text-secondary mb-1">{{clientsValue().profession}}</p>
                                <p class="text-muted font-size-sm">{{clientsValue().adresse}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3"></div>
            </div>
            <div class="col-md-8 m-0">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="menu">
                            <nav class="navbar navbar-expand-lg navbar-light ">
                              <div class="collapse navbar-collapse" id="navbarSupportedContent" type="button" style="text-align: center;">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                                  <li class="nav-item">
                                    <a class="nav-link fw-bold ms-5" href="/home">Profil</a>
                                  </li>
                                  <li class="nav-item">                                                 
                                    <a class="nav-link fw-bold ms-5" [routerLink]="['/board-anxiete']" routerLinkActive="active">Enquete d'anxiete</a>
                                  </li>
                                  <li class="nav-item">                                                 
                                    <a class="nav-link fw-bold ms-5" [routerLink]="['/board-depression']" routerLinkActive="active">Enquete de depression</a>
                                  </li>
                                  <li class="nav-item">                                                 
                                    <a class="nav-link fw-bold ms-5" [routerLink]="['/board-stress']" routerLinkActive="active">Enquete de stress</a>
                                  </li>
                                </ul>
                              </div>
                              </nav>
                              <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().nom}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prenom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().prenom}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date de Naissance</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().date_naissance.split('T')[0]}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telephonne</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().numero_tele}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().adresse}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Profession</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{clientsValue().profession}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <a class="btn btn-info" (click)="updateClient2(clientsValue().id)"
                                    [routerLink]="['/home/profile/edit']" routerLinkActive="active">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
      <h3>Upload File</h3>
      <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h6 class="head-title margin-top-8"><span>Select Image File</span></h6>
            </div>
          </div>
          <div class="col-sm-6">
    
            <div class="custom-file">
    
              <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                (change)="onFileSelect($event)" #UploadFileInput>
    
              <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
            
            </div>
    
          </div>
    
          <div class="col-sm-6"> <button class="btn btn-primary" type="submit">Upload</button> </div>
    
        </div>
      </form>
     
    </div> -->