body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
    min-height: 100vh;
}
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.menu { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0%;
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.modifier{
    background-color: #37517e;
    color: white;
}
.modifier:hover{
    background-color: #2c446e !important;
    color: white;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.info-user{




}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3 solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    
}

.gutters-sm {
    margin-right: -70px;
    margin-left: -70px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
H1 { text-align: center }

.all{
    /* background-color: rgb(240, 240, 240) !important; */
}
.active{
    /* text-decoration: underline !important; */
    position: relative;
    color: #37517e !important;
    border-bottom: solid #ffffff 2.5px !important;;
    border-top:solid #c6c8cb 2.5px !important;
    border-right:solid #c6c8cb 2.5px !important;
    border-left:solid #c6c8cb 2.5px !important;
  
    border-top: none;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   z-index: 10;
   padding-right: 10px !important;
   padding-left: 10px !important;

   
}
.hr{
    color: rgb(233, 231, 231);
}
hr{
    z-index: 1;
    position: relative;
    top:-26px !important;
}
.active::before{
    /* content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
    top: 30px; */
}
#elegantModalFormUpdate{
    margin-top: 4%;
    font-family: "Open Sans", sans-serif !important;
  }*  .modal-xl{
    width: 60%;
  }
.inscrire{
    width: 50% !important;
    margin: auto;
    background-color: #476394 !important;
    color: white;
  }
  .form-elegant .modal-header {
    border: none !important; }
  .validate{
    font-size:0.9rem ;
    border: none !important;
    border-bottom: 1px solid #9ea4a9 !important; 
     border-radius: 0%;
    /* padding: 20px !important; */ 
  }
  .inscrire:hover{

    background-color: #2582ad !important;
    color: white;
  }


  .modal-confirm {		
	color: #434e65;
	width: 525px;
}
.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	background: #47c9a2;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	/* border-radius: 50%; */
	z-index: 9;
	/* border: 5px solid #fff; */
	padding: 15px;
	text-align: center;
}
.fa-check-circle{
    font-size: 100px !important;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}
.modal-confirm .btn i {
	margin-left: 1px;
	font-size: 20px;
	float: right;
}